






/*.knr-controls {
    height: 96px;
    background-image: url(../images/player-bg.png);
    padding: 19px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: pointer;
}*/



/*#play .fa {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.9rem;
    color: #b1b156;
    cursor: pointer;
}

.knr-volume-controls .fa{
    font-size: 1.4rem;
    color: #b1b156;
    cursor: pointer;
}*/


/*Radio Box Layout*/
/*.radio-box {
    position: relative;
    margin: auto;
    max-width: 300px;
}  

#player_big {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    overflow: hidden;
}    */
    
    
/*.radio #butterfly-left {
    background: url(../images/btrfly_left.png);
    -webkit-transform-origin : -100% 50%;
    -moz-transform-origin : -100% 50%;
    -o-transform-origin : -100% 50%;
    -ms-transform-origin : -100% 50%;
    transform-origin : 100% 50%;

    left: 50%;
}

.radio #butterfly-right {
    background: url(../images/btrfly_right.png);
    -webkit-transform-origin : -100% 50%;
    -moz-transform-origin : -100% 50%;
    -o-transform-origin : -100% 50%;
    -ms-transform-origin : -100% 50%;
    transform-origin : -100% 50%;

    right: 50%;
}

.radio #butterfly-right,
.radio #butterfly-left{
    background-repeat:no-repeat;
    width:190px;
    height:190px;
    z-index:5;
    position:absolute;
    background-size: contain; 
    top: 30%;
    transform: translate(-30%,-30%);
    -webkit-animation: leaves 6s  infinite;
    animation: leaves 6s  infinite ;

}


@-webkit-keyframes leaves {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0;
    }
   
    50%{
         opacity: 1;
    }
    
    100%{
       -webkit-transform: scale(2);
         opacity: 0;
    }
}
    
       
@media only screen and (max-width: 1230px)  {
@-webkit-keyframes leaves {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0;
    }
   
    50%{
         opacity: 1;
    }
    
    100%{
       -webkit-transform: scale(1.5);
         opacity: 0;
    }
}
    
}
    
    
@media only screen and (max-width: 767px)  {
@-webkit-keyframes leaves {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 0;
    }
   
    50%{
         opacity: 1;
    }
    
    100%{
       -webkit-transform: scale(1.5);
         opacity: 0;
    }
}*/



/*Skin-1*/
.knr_player {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knr_play_button {
    height: 96px;
    padding: 19px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    cursor: pointer;
}
.player-bg {
    height: 65px;
    width: 65px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.text-center{
    text-align: center;
}


.knr_player .knr-volume-controls img.speaker-icon,
.knr_player .knr-volume-controls img.mute-icon {
    display: inline-block;
}
.knr_play.player-animate > .play-icon,
.knr_play:not(.player-animate) > .pause-icon,
.knr_player .knr-volume-controls.mute .speaker-icon,
.knr_player .knr-volume-controls:not(.mute) .mute-icon {
    display:none;
}

.knr img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    width: inherit;
}
/*.knr_control img,*/
.the_content img.speaker-icon,
img.speaker-icon,img.mute-icon,
.the_content img.mute-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
}
.knr_player .player-bg.knr_play img {
    padding: 0;
}

/*Skin-2*/
.knr_player_2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.knr_player_2 .knr_volume_control.mute .speaker-icon,
.knr_player_2 .knr_play_control.player-animate>.play-icon,
.knr_player_2 .knr_volume_control:not(.mute) .mute-icon,
.knr_player_2 .knr_play_control:not(.player-animate)>.pause-icon {
    display:none;
}
.knr_player_2 .knr_play_control .play-icon,
.knr_player_2 .knr_play_control .pause-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0;
}
.knr_player_rect {
    display: inline-flex;
    max-height: 250px;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.knr_player_2 .knr_player_icon{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.knr_player_2 .knr_control {
    display: inline-flex;
}
.knr_player_2 .knr_volume_control> .knr_volume{
    z-index: -99;
    visibility: hidden;
    animation-duration: 1s;
}
.knr_player_2 .knr_volume_control:hover .knr_volume{
    z-index: 1;
    visibility: visible;
}
.knr_player_2 .knr_volume_control {
    width: 100px;
    height: 50px;
    position: relative;
    margin-left: 10px;
}
.knr_player_2 .knr_volume_control .knr_volume {
    position: absolute;
    left: 35px;
    top: 15px;
    margin: 0 auto;
    height: 5px;
    width: 50px;
    background: #555;
    border-radius: 15px;
}
.knr_player_2 .knr_volume_control .knr_volume .ui-slider-range-min {
  height: 5px;
  width: 50px;
  position: absolute;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  outline: none;
}
.knr_player_2 .knr_volume_control .knr_volume .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
}

img.speaker-icon,
img.mute-icon {
    padding: 0!important;
}